<section class="row">
  <%= for post <- @posts do %>
    <article class="row">
      <div class='row'><%= post.title %></div>
      <br />
      <div class='row'>
        <%= raw post.content_html %>
      </div>
    </article>
  <% end %>
</section>
