/* This file is for your main application css. */

@import "./phoenix.css";

body {
  margin: 0;
}

header nav {
  height: 2em;
  background-color: #563d7c;
}

header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header nav a:hover {
  color: rgb(203, 189, 226);
}

header nav li {
  float: left;
  display: inline;
  padding: .25rem;
}
